body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #dcdcdc;
}

h1,
h2,
h3 {
  margin: 0 0 20px;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  color: #d65a31;
}

h2 {
  font-size: 2em;
  color: #6a1b9a;
}

h3 {
  font-size: 1.5em;
  color: #388e3c;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  margin: 0 0 20px;
  padding: 0 0 0 20px;
}

li {
  margin: 0 0 10px;
}

a {
  color: #d65a31;
}

a:hover {
  color: #6a1b9a;
}

/* Header */

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

#titre {
  color: #fff;
  font-size: 3em;
  margin: 0;
}

/* Top */

.top {
  text-align: center;
}

img {
  max-width: 20%;
  height: auto;
}

/* Infos */

/* Styles for the informations section */
.infos {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #faf0e6;
  border-radius: 10px;
  text-align: center;
}

.infos h3 {
  font-size: 1.5rem;
  color: #394867;
  margin-bottom: 20px;
}

.infos table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
}

.infos table th,
.infos table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.infos table th {
  background-color: #F7EBC6;
  font-weight: bold;
  text-align: center;
}

.infos table td {
  text-align: center;
}

.infos table tr:nth-child(odd) {
  background-color: #FDF6E3;
}

.infos table tr:hover {
  background-color: #FFDAB9;
}


table {
  border-collapse: collapse;
  margin: 0 0 20px;
  width: 100%;
}

table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table td:first-child {
  font-weight: bold;
  width: 30%;
}

table td:last-child {
  text-align: right;
  width: 70%;
}

#portions {
  font-size: 1.5em;
}

/* Preparation */

.preparation {
  margin: 20px;
}

.partie {
  margin: 20px 0;
  font-size: 2em;
  color: #d65a31;
}

.ingredients li {
  font-size: 1.2em;
  color: #388e3c;
}

.ingredients li b {
  color: #6a1b9a;
}

.ingredients li .metrique {
  color: #d65a31;
  font-style: italic;
}

.etapes {
  margin: 0;
  padding: 0 0 0 40px;
}

.etapes li {
  font-size: 1.2em;
  color: #333;
  font-style: italic;
}
